    body {
        margin-right: 3%;
        margin-left: 3%;
        margin-top: 3%;
        box-shadow: 10px 10px 15px #888888;
    }

    p {
        font-size: 18px;
        line-height: 130%
    }

    .container {
    overflow: hidden;
    background-color: #363636;
    font-family: Arial;
    }

    .container a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }


    .dropdown {
        float: left;
        overflow: hidden;
    }

    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: #363636;
        font-family: Arial;
        margin: 0;
        }

    .container a:hover, .dropdown:hover .dropbtn {
    background-color: teal;
    }


    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        }

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }


    .dropdown:hover .dropdown-content {
        display: block;

    }


    .myself a:hover {
    color: grey;
    text-decoration: none;
    }

    .myself a:link {
    color: white;
    text-decoration: none;
    }

    .myself a:visited {
    color: white;
    text-decoration: none;
    }

    .myself a:active {
    text-decoration: none;
    }

    h1.myname {
	color: rgba(360, 360, 360, 1);
	text-shadow: -2px -1px 0 rgba(0, 0, 0, .2);
	font-family: Arial; 
	font-size: 75px; 
	font-weight: 900; 
	margin-bottom: 0px;
	margin-top: 5px;	
    }

    h1.myname a:visited {
    	color: rgba(360, 360, 360, 1)
    }

    /*h1.myname:before{
   	font-size: 75px;
	font-weight: 900;
	position: absolute;
	margin: 2px 0 0 2px;
  	content:attr(title);
  	color: rgba(360, 360, 360, 0.5);
  	opacity: 0.9;
	}*/

    .block1 a:hover {
    color: grey;
    text-decoration: none;
    }

    .block1 a:link {
    color: teal;
    text-decoration: none;
    }

    .block1 a:visited {
    color: blue;
    text-decoration: none;
    }

    .block1 a:active {
    text-decoration: none;
    }

